<h1>Genre: {{ genre.title }}</h1>

<h3>Following are the games for this genre. (Total: {{ genre.game_set.count }} games)</h3>

{% if error_message %}
    <p style="color: red"><strong> {{ error_message }} </strong></p>
{% endif %}

<form action="{% url 'game:favourite' genre.id %}" method="post">
    {% csrf_token %}
    {% for game in genre.game_set.all %}
        <input type="radio" id="game{{ forloop.counter }}" name="game" value="{{ game.id }}" />
        <label for="game{{ forloop.counter }}"> 
            {{ game.title }}
            {% if game.is_favourite %}
                <img src="http://tiny.cc/kmlqaz" width="20" height="20"/>
            {% endif %}
        </label><br>
    {% endfor %}

    <input type="submit" value="Favourite">
</form>